.total-request-div {
  padding: 30px 20px;
  border: 1px solid #ccc;
  margin: 30px;
  height: 100%;
  overflow-y: scroll;
}
.complete-status-completed{
  border: var();
  color: green;
  border-radius:5px;
  background-color: var(--complete-background-color);
  padding: 5px 8px;
  font-weight: 500;
  font-size: 14px;
}
.complete-status-incompleted
{
  background-color: var(--incomplete-background-color);
  /* border: 1px solid red; */
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 500;
  color: rgb(223, 66, 66);
  font-size: 14px;
  /* color: white; */
}

.request_status
{
  font-size: 14px;
  font-weight: 500;
  padding: 5px 8px;
  border-radius: 5px;
}
.inprogress
{
  background-color: var(--inprogress-background-color) ;
  color: rgb(23, 94, 224);
  border: 1px solid rgb(23, 94, 224);
}

.pending{
  background-color: rgb(235, 188, 167);
  color: rgb(99, 54, 3);
  border:  1px solid rgb(238, 130, 6);
}

.completed{
  background-color: var(--complete-background-color);
  color: var(--complete-text-color);
  border: 1px solid var(--complete-text-color);
}
.incompleted{
  background-color: var(--incomplete-background-color);
  color: var(--incomplete-text-color);
  border: 1px solid var(--incomplete-text-color);
}

.alloted{
  background-color: var(--alloted-background-color);
  color: var(--alloted-text-color);
  border: 1px solid var(--alloted-text-color);
}

