.sidebar{
    max-height: 100vh;
    height: 100vh;
    background-color: #cedff8;
    width: 300px;
    border: 1px solid #ccc;
}
.sidebar ul{
    /* border: 1px solid; */
    padding: 10px 5px;
    padding: px 5px;
    display:flex;
    flex-direction:column ;
    gap: 10px;
}
.sidebar ul a{
    border: 1px solid #ccc;
    padding: 8px ;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-weight: 500;
}