.sidebar {
  /* background-color: #cedff8; */
  background-color: #2F4050;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar ul {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar ul a {
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* color: black; */
  color: white;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.sidebar ul a:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Responsive Adjustments */
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
    max-height: 300px;
  }

  .sidebar ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sidebar ul a {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; /* Consider replacing with a mobile menu */
  }
}
