.content-navbar{
    border-bottom: 1px solid #ccc;
    padding: 15px 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-right{
    display: flex;
    gap: 7px;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid; */
}
#admin-icon{
    color: grey;
    font-size: 30px;
}