@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color defintion */
:root{
  --complete-background-color: rgb(167, 231, 167);
  --incomplete-background-color: rgb(238, 172, 172);
  --complete-text-color : green;
  --incomplete-text-color: red;

  /* inprogress color shade*/
  --inprogress-background-color: rgb(231, 231, 173);
  --inprogress-text-color: rgb(0, 0, 0);

  /* alloted color shade  */
  --alloted-background-color : rgb(174, 205, 240);
  --alloted-text-color : rgb(23, 119, 228); 
}

html, body{
  font-family: 'Inter', sans-serif;
}

div a{
  text-decoration: none;
}

p, div p{
  margin : 0;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}